// _queries.scss
@include breakPoint(small){
    header{
        width: 700px;
        min-height: 8rem;
        
        & h1{
            color: $color-darkBrown;
            
            & i.fa-lg{
                display:inline;
                color: $color-darkBrown;
                vertical-align:baseline;
                float:none;
                font-size: $font-size-titleIconSmall;
                @include setLineHeight($font-size-title);
                
                & ~ span{
                    float: none;
                    letter-spacing: 0.25rem;
                    text-align: left;
                }
            }
        }    
        & nav{
            position: static;
            padding: 0;
            
            &>ul>li{
                width:20%;
                
                &>a{
                    font-size: $font-size-small;
                    line-height: 2rem;
                    min-height: 6rem;
                    border:none;
                    border-left:1px solid $color-lightGrey; 
                    padding:1.0rem;
                    
                    &:last-child{
                        border-right:1px solid $color-lightGrey;
                    }
                }
            }
        }
        &:before,
        &:after{
            width:230px;
        }
    }
    section {
        @include setSectionValues(700px);
        &.content2{
            &  h4{
                font-size: $font-size-medium;
            }
        }
    }
    .col-4{
        width:50%;
        float:left;
    }
    footer {
        width: 700px; 
        margin: 0 auto; 
        & .fa-circle{
            color: $color-medBlue;
        }
        & .col-2:last-child{
            unicode-bidi: bidi-override;
            direction: rtl;
        }
        &  h4[lang=ar]{
           display:block;
        }
        & h4[lang=de]{
            display:none;
        }
    }
}
@include breakPoint(medium){
    header{
        width: 900px;
        
        &:before,
        &:after{
            width:300px;
        }
        & h1{
            color: $color-darkBlue;
            
            & i.fa-lg{
                display:inline;
                color: $color-darkBlue;
                vertical-align:baseline;
                float:none;
                font-size: $font-size-titleIconSmall;
                @include setLineHeight($font-size-title);
                
                & ~ span{
                    float: none;
                    letter-spacing: 0.25rem;
                    text-align: left;
                }
            }
        }
        & nav{
            position: static;
            padding: 0;
            
            &>ul>li{
                width:20%;
                
                &>a{
                    font-size: $font-size-small;
                    line-height: 2rem;
                    min-height: 2rem;
                    border:none;
                    border-left:1px solid $color-lightGrey; 
                    padding: 0 1.0rem;
                    margin: 1.0rem 0;
                }
                &:first-child a{
                    border-left:none;
                }
            }
        }
    }
    section{
        @include setSectionValues(900px);
        &.focal{
            & h2,
            & p.author{
                width: 600px; 
                margin: 0 auto;
            }
        }
        &.content1 h3{
            font-weight: 100;
            & .fa-2x{
                font-size: $font-size-Large;
                padding-right: 1rem;
            }
        }
        &.content2{
            & h4{
                font-size: $font-size-medium;
            }
            & p{
                font-size: $font-size-small;
                font-weight: 400;
            }
        }
    }
    
    .col-3{
        @include equalSpaced(3, 5%);
    }
    .col-4{
       @include equalSpaced(4, 4%);
    }
    
    footer{
        width: 900px; 
        margin: 0 auto;
        & .fa-circle{
            color: $color-lightBrown;
        }
        & h4[lang=ru]{
           display:block; 
        }
        & h4[lang=de]{
            display:none;
        }
    }
}
@include breakPoint(large){  
    header{
        width: 1400px;
        &:before,
        &:after{
            width:450px;
        }
        & h1{
            & i.fa-lg{
                display:inline;
                color: $color-darkBrown;
                vertical-align:baseline;
                float:none;
                font-size: $font-size-titleIconSmall;
                @include setLineHeight($font-size-title);
                & ~ span{
                    float: none;
                    letter-spacing: 0.25rem;
                    text-align: left;
                }
            }
        }
        & nav{
            position: static;
            padding: 0;
            &>ul>li{
                width:20%;
                &>a{
                    line-height: 2rem;
                    min-height: 2rem;
                    border:none;
                    border-left:1px solid $color-lightGrey; 
                    padding:0 1.0rem;
                    margin:1.0rem 0;
                }
                &:first-child a{
                    border-left:none;
                }
            }
        }
    }
    section{
        @include setSectionValues(1400px);
        &.focal{
            & h2{
                font-size: $font-size-title;
                width: 600px; 
                margin: 0 auto;
            }
            & p.author{
                width: 600px; 
                margin: 0 auto;
            }
        }
        &.content1 h3{
            font-size: $font-size-XLarge;
            font-weight: 100;
            & .fa-2x{
                font-size: $font-size-XLarge;
                padding-right: 1rem;
                vertical-align: middle;
            }
        }
        &.content2{
            & li{
                font-size: $font-size-Large;
            }
            & p{
                font-weight: 400;
            }
        }
    }
    .col-3{
        @include equalSpaced(3, 5%);
    }
    .col-4{
        @include equalSpaced(4, 4%);
    }
    footer{
        width: 1400px; 
        margin: 0 auto;
        & p{
            font-size: $font-size-medium;
            letter-spacing: 0.2rem;
            &:last-child{
                color: $color-lightGrey;
            }
        }
        & .fa-circle{
            color: $color-medBlue;
        }
        & h4[lang=en]{
           display:block; 
        }
        & h4[lang=de]{
            display:none;
        }
    }
}