//_variables.scss

$color-lightBlue  : #C7F7FF;
$color-medBlue    : #89C0C9;
$color-darkBlue   : #3a5E63;
$color-lightBrown : #C9A689;
$color-darkBrown  : #7C593C;
$color-lightGrey  : #d4d4d4;
$color-darkGrey   : #222;
$color-white      : #fff;

$font-sansSerif      : 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font-serif          : Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;



$font-size-titleIconLarge : 7rem;
$font-size-titleIconSmall : 4rem;
$font-size-title     : 3.998rem;
$font-size-XLarge    : 2.827rem;
$font-size-Large     : 1.999rem;
$font-size-medium    : 1.414rem;
$font-size-small     : 1rem;
